* {
    color: white;
    font-size: larger;
    font-family: 'PixelMplus10', Arial;
    
}
body {
    border: 2px solid #ffffff;
    background-color: #222966;
    padding: 0;
    margin: 0;
}


.title {
    height: 10vh;
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    background-color: #4CAF50;
    
    display:flex;
    justify-content: center;  /* 横方向の中央 */
    align-items: center;      /* 縦方向の中央 */
}

.game{
    display: flex;
    justify-content: center;  /* 横方向の中央 */
    align-items: center;      /* 縦方向の中央 */
    border: 1vh;
    height: 89vh;
}

canvas {
    border: 1px solid #ccc;
    background: white;
}

/* スタートボタンをcanvasに重ねる */
#startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    z-index: 10;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #retryBtn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    z-index: 10;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
